<script>

  import CourseView from "./CourseView.svelte"

  export let selectedCourse = ''

</script>

<section class="my-5">

  {#if selectedCourse}

    <div class="container" data-testid="content-course">
      <div class="row my-2">
        <div class="col">
          <h2 data-testid="content-course-title">Orari per <strong>{selectedCourse}</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col" data-testid="content-course-data">
          <CourseView selectedCourse={selectedCourse}/>
        </div>
      </div>
    </div>

  {:else}

    <div class="text-center my-5" data-testid="content-select-course">
      <img src="cal-512.png" width="100" height="100" alt="logo">
      <h3 class="mt-3">Seleziona un corso</h3>
    </div>

  {/if}

</section>
