<script>

  import Day from "./Day.svelte"
  import { getCourseEventsByWeek } from "../api"

  export let selectedCourse = ''
  let getWeeksPromise = []
  let showMoreCounter = 0

  $: getWeeksPromise = getCourseEventsByWeek(selectedCourse)

</script>

{#await getWeeksPromise}

  <div class="d-flex flex-column flex-lg-row flex-wrap justify-content-between events px-2" data-testid="course-view-loading">
    <div class="my-2">
      <Day loading/>
    </div>
    <div class="my-2">
      <Day loading/>
    </div>
    <div class="my-2">
      <Day loading/>
    </div>
  </div>

{:then weeks}

  {#if weeks.length != 0}

    {#each weeks as events, i}

      {#if events.length != 0}

        {#if showMoreCounter >= i}

          <div class="d-flex flex-column flex-lg-row flex-wrap justify-content-between events align-items-stretch px-2" data-testid="course-view-events-wrapper">

            {#each events as event}
              <div class="my-2">
                <Day date={event.date} events={event.events} />
              </div>
            {/each}

          </div>

        {/if}

      {/if}

    {/each}

    {#if showMoreCounter < weeks.length - 1 }
      <div class="text-center">
        <button type="button" class="btn mt-3" on:click={() => showMoreCounter++}>Settimana successiva</button>
      </div>
    {/if}

  {:else}
    <h2>Nessun Dato</h2>
  {/if}

{:catch error}

  <div class="text-center my-5" data-testid="course-view-error-message">
    <img src="cal-512.png" width="100" height="100" alt="logo">
    <h3 class="mt-3">Oops, qualcosa non va...</h3>
    <button type="button" class="btn mt-3" on:click={() => getWeeksPromise = getCourseEventsByWeek(selectedCourse)}>Ricarica</button>
  </div>

{/await}

<style lang="scss">

  .events > *{
    width: 100%;
  }

  .btn {
    background-color: var(--secondary-color);
    color: var(--text-alt-color);
    border-radius: 9999px;
    padding: 10px 20px;
    border: 0px;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  @media (min-width: 992px) {
    .events > *{
      width: 49%;
    }
  }
</style>
