<script>

  import { onMount, createEventDispatcher } from 'svelte'
  import { getCourses } from '../api'

  export let selected = ''
  let getCoursesPromise = []

  let toggled = false
  const toggleWrapper = () => toggled = !toggled

  const dispatch = createEventDispatcher()

  onMount(async () => {
    getCoursesPromise = getCourses()
  })

  function updateSelectedAndDispatch(selectedCourse) {
    selected = selectedCourse

    dispatch('courseChanged', selected)
  }

</script>

{#await getCoursesPromise}

  <div class="text-center" data-testid="course-selector-loading-message">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

{:then courses}

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="select-wrapper {toggled ? 'toggled' : 'arrow'}" on:click={toggleWrapper} data-testid="course-selector-courses-wrapper">
          <div>

            {#if toggled}

              {#each courses as course}
                <div class="course" on:click={updateSelectedAndDispatch(course)}>
                  {course.toUpperCase()}
                </div>
              {/each}

            {:else if selected}
              <div class="course" data-testid="course-selector-selected-course">
                <strong>{selected.toUpperCase()}</strong>
              </div>
            {:else}
              <div class="course" data-testid="course-selector-select-course">
                Seleziona un corso
              </div>
            {/if}

          </div>
        </div>

      </div>
    </div>
  </div>

{:catch error}

  <div class="text-center" data-testid="course-selector-error-message">
    <h3 class="mt-3 error">Errore nel caricamento dei corsi</h3>
  </div>

{/await}

<style lang="scss">

  .error {
    color: var(--text-alt-color);
  }

  .select-wrapper {
    display:grid;
    grid-template-areas: "select";
    align-items: center;

    border-radius: 9999px;
    padding: 5px 10px;

    background-color: var(--background-color);
    cursor: pointer;

  }
  .select-wrapper > div{
    grid-area: select;
  }

  .toggled {
    border-radius: 20px;
    padding: 10px;
  }

  .course {
    padding: 10px 5px;
    border-radius: 9999px;

    transition: background-color 0.5s ease-out;

    text-align: center;
  }

  .course:hover {
    background-color: var(--muted-color);
  }

  .arrow:after {
    grid-area: select;
    justify-self: end;
    margin-right: 20px;

    content: "";
    width: 0.9em;
    height: 0.6em;
    background-color: var(--text-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

</style>
