<script>

  import DayEvent from "./DayEvent.svelte"
  import { isToday, isTomorrow, capitalize } from "../utils"

  export let loading = false
  export let date = new Date()
  export let events = []

  const dtf = new Intl.DateTimeFormat('it', {weekday: 'long', month: 'long', day: 'numeric'})

</script>

<div class="card py-3 px-3">

  {#if loading}

    <div class="loading-animation loading-block-4 mb-3" data-testid="day-date-loading"></div>

    <div class="loading-animation loading-block-1 mb-1" data-testid="day-module-loading"></div>
    <div class="d-flex flex-md-row flex-column justify-content-between">
      <div class="loading-animation loading-block-2 mb-1 mb-md-0" data-testid="day-professor-loading"></div>
      <div class="loading-animation loading-block-3" data-testid="day-time-room-loading"></div>
    </div>

    <hr class="mx-4"/>

    <div class="loading-animation loading-block-1 mb-1" data-testid="day-module-loading-2"></div>
    <div class="d-flex flex-md-row flex-column justify-content-between">
      <div class="loading-animation loading-block-2 mb-1 mb-md-0" data-testid="day-professor-loading-2"></div>
      <div class="loading-animation loading-block-3" data-testid="day-time-room-loading-2"></div>
    </div>

  {:else}

    <h3 class="card-title mb-3" data-testid="day-date">
      <i class="fas fa-calendar-day me-1"></i>
      {#if date && isToday(date)}
        Oggi
      {:else if date && isTomorrow(date)}
        Domani
      {:else}
        {capitalize(dtf.format(date))}
      {/if}
    </h3>

    {#each events as event,i}

      <DayEvent {...event}/>

      {#if i < events.length - 1}
        <hr class="mx-4"/>
      {/if}

    {/each}

  {/if}

</div>


<style lang="scss">

  .card {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    position: relative;

    background-color: var(--background-alt-color);
  }

  .loading-animation {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: var(--background-alt-color);
    background: linear-gradient(to right, var(--muted-alt-color) 8%, var(--muted-color) 18%, var(--muted-alt-color) 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }

  @keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }

  .loading-block-1 {
    width:75%;
    height: 1em;
  }

  .loading-block-2 {
    width:20%;
    height: 1em;
  }

  .loading-block-3 {
    width:60%;
    height: 1em;
  }

  .loading-block-4 {
    width:35%;
    height: 2em;
  }

</style>
