<script>
  import { capitalize } from "../utils"

  export let module = ''
  export let professor = ''
  export let timeStart = ''
  export let timeEnd = ''
  export let room = ''

</script>

<div class="container px-2">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-md-row flex-column justify-content-between">

        <div data-testid="day-event-module">
          <i class="far fa-bookmark me-1"></i>
          <strong>{module}</strong>
        </div>
        <div data-testid="day-event-time">
          <i class="far fa-clock me-1"></i>
          <strong>{timeStart} - {timeEnd}</strong>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-md-row flex-column justify-content-between">

        <div data-testid="day-event-professor">
          <i class="far fa-user me-1"></i>
          {capitalize(professor)}
        </div>
        <div data-testid="day-event-room">
          <i class="fas fa-map-marker-alt me-1"></i>
          {room}
        </div>

      </div>
    </div>
  </div>
</div>

<style lang="scss"></style>
