<footer class="container-fluid py-3">

  <div class="container py-3 text-center">
    <div class="d-flex flex-row flex-wrap justify-content-around credits-wrapper">
        <div class="p-1"> © Marco Stevanon </div>
        <div class="p-1"> <a target="_blank" href="http://linkedin.com/in/federico-antoniazzi">Federico Antoniazzi</a> </div>
        <div class="p-1"> <a target="_blank" href="https://www.nicolabovolato.it">Nicola Bovolato</a> </div>
        <div class="p-1"> <a target="_blank" href="https://www.linkedin.com/in/devis-tollon-7b4515207">Devis Tollon</a> </div>
    </div>
  </div>

</footer>

<style lang="scss">

  a,
  a:hover,
  a:visited {
    color: var(--text-alt-color);
  }

  footer{
    color: var(--text-alt-color);
    background-color: var(--thirdiary-color);
    border-radius: 20px 20px 0 0;
  }

</style>
