<script>
  import Logo from "./Logo.svelte";

  export let tiny = false
</script>

<header class="py-3">

  {#if tiny}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md"></div>
        <div class="col-md order-md-2 pb-md-0 pb-2">
          <div class="container d-flex flex-row-reverse">
            <slot name="before-logo"></slot>
          </div>
        </div>
        <div class="col-md order-md-1 d-flex justify-content-center align-items-center">
          <Logo tiny={tiny}/>
        </div>
      </div>
    </div>

  {:else}

    <section class="container-fluid pb-3">
      <div class="container d-flex flex-row-reverse">
        <slot name="before-logo"></slot>
      </div>
    </section>

    <Logo class="pb-3 pb-md-4 pt-2 pt-md-3" tiny={tiny}/>

  {/if}

  <nav class="container-fluid sticky-top pt-3">
    <slot name="after-logo"></slot>
  </nav>
</header>


<style lang="scss">

  nav:empty {
    display: none;
  }

  header {
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    transition: height 1s;
  }

  .app-logo-tiny, .app-logo{
    font-family: 'Roboto', sans-serif;
    font-size:3.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--logo-color);
    user-select: none;
  }

  .app-logo:hover, .app-logo-tiny:hover {
    cursor: pointer;
  }

  .app-logo-tiny {
    font-size: 1.5em;
  }

  @media (min-width: 768px) {
    .app-logo, .app-logo-tiny {
      font-weight: normal;
    }

    .app-logo {
      font-size: 4em;
    }

    .app-logo > span:first-child {
      border: 4px solid var(--primary-color);

      padding: 4px 10px 4px 10px;

      color: var(--primary-color);
      background-color: var(--logo-color);
    }
    .app-logo > span:last-child {
      border: 4px solid var(--logo-color);

      padding: 0px 10px 0px 10px;
      margin-left: -4px;

      text-transform: capitalize;
      color: var(--logo-color);
      background-color: var(--primary-color);
    }

    .app-logo-tiny > span:first-child {
      border: 1px solid var(--primary-color);

      padding: 1px 5px 1px 5px;

      color: var(--primary-color);
      background-color: var(--logo-color);
    }
    .app-logo-tiny > span:last-child {
      border: 1px solid var(--logo-color);

      padding: 0px 5px 0px 5px;
      margin-left: -2px;

      text-transform: capitalize;
      color: var(--logo-color);
      background-color: var(--primary-color);
    }
  }
</style>
