<script>
  export let tiny = false

  function visitApp() {
    window.open(location.href, '_self');
  }
</script>

<div class="container-fluid {$$props.class}">
  <div class="row no-gutters">
    <div class="col-md align-items-center">
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center {tiny ? 'app-logo-tiny' : 'app-logo'}" on:click={visitApp}>
        <span>ITS</span><span>Kalendar</span>
      </div>
    </div>
  </div>
</div>

<style lang="scss">

  header {
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    transition: height 1s;
  }

  .app-logo-tiny, .app-logo{
    font-family: 'Roboto', sans-serif;
    font-size:3.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--logo-color);
    user-select: none;
  }

  .app-logo:hover, .app-logo-tiny:hover {
    cursor: pointer;
  }

  .app-logo-tiny {
    font-size: 1.5em;
  }

  @media (min-width: 768px) {
    .app-logo, .app-logo-tiny {
      font-weight: normal;
    }

    .app-logo-tiny {
      font-size: 1.8em;
    }

    .app-logo {
      font-size: 4em;
    }

    .app-logo > span:first-child {
      border: 4px solid var(--primary-color);

      padding: 4px 10px 4px 10px;

      color: var(--primary-color);
      background-color: var(--logo-color);
    }
    .app-logo > span:last-child {
      border: 4px solid var(--logo-color);

      padding: 0px 10px 0px 10px;
      margin-left: -4px;

      text-transform: capitalize;
      color: var(--logo-color);
      background-color: var(--primary-color);
    }

    .app-logo-tiny > span:first-child {
      border: 1px solid var(--primary-color);

      padding: 1px 5px 1px 5px;

      color: var(--primary-color);
      background-color: var(--logo-color);
    }
    .app-logo-tiny > span:last-child {
      border: 1px solid var(--logo-color);

      padding: 0px 5px 0px 5px;
      margin-left: -2px;

      text-transform: capitalize;
      color: var(--logo-color);
      background-color: var(--primary-color);
    }
  }
</style>
