<script>
  import { isHexColorString, newConfig } from "../utils"
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()

  function messageReceived(event) {
    const {type, data} = event.data

    try {
      switch(type) {
        case 'config':
          const config = parseConfigObj(data)
          dispatch('configReceived', config)
          break
        default:
          break
      }
    }
    catch(err) {}
  }

  function parseConfigObj(data) {
    const config = newConfig()

    if(typeof data?.popups?.surveyPopup == 'boolean') config.popups.surveyPopup = data.popups.surveyPopup
    if(typeof data?.buttons?.openInNewTab == 'boolean') config.buttons.openInNewTab = data.buttons.openInNewTab
    if(typeof data?.buttons?.darkMode == 'boolean') config.buttons.darkMode = data.buttons.darkMode

    if(typeof data?.colorScheme?.force == 'boolean') config.colorScheme.force = data.colorScheme.force
    if(isHexColorString(data?.colorScheme?.primaryColor)) config.colorScheme.primaryColor = data.colorScheme.primaryColor
    if(isHexColorString(data?.colorScheme?.secondaryColor)) config.colorScheme.secondaryColor = data.colorScheme.secondaryColor
    if(isHexColorString(data?.colorScheme?.thirdiaryColor)) config.colorScheme.thirdiaryColor = data.colorScheme.thirdiaryColor
    if(isHexColorString(data?.colorScheme?.logoColor)) config.colorScheme.logoColor = data.colorScheme.logoColor
    if(isHexColorString(data?.colorScheme?.mutedColor)) config.colorScheme.mutedColor = data.colorScheme.mutedColor
    if(isHexColorString(data?.colorScheme?.mutedAltColor)) config.colorScheme.mutedAltColor = data.colorScheme.mutedAltColor
    if(isHexColorString(data?.colorScheme?.textColor)) config.colorScheme.textColor = data.colorScheme.textColor
    if(isHexColorString(data?.colorScheme?.textAltColor)) config.colorScheme.textAltColor = data.colorScheme.textAltColor
    if(isHexColorString(data?.colorScheme?.backgroundColor)) config.colorScheme.backgroundColor = data.colorScheme.backgroundColor
    if(isHexColorString(data?.colorScheme?.backgroundAltColor)) config.colorScheme.backgroundAltColor = data.colorScheme.backgroundAltColor

    if(typeof data?.tinyHeader == 'boolean') config.tinyHeader = data.tinyHeader
    if(typeof data?.courseSelection == 'boolean') config.courseSelection = data.courseSelection
    if(typeof data?.selectedCourse == 'string') config.selectedCourse = data.selectedCourse

    return config
  }
</script>

<svelte:window on:message={messageReceived}/>
