<button on:click class={$$props.class}>
  <slot></slot>
</button>

<style lang="scss">
  button > * {
    line-height: inherit;
  }

  button {

    min-width: 55px;
    min-height: 55px;

    border-radius: 9999px;
    border: 0px;

    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
  }
</style>
