<script>
  let visible = localStorage.getItem('disableSurveyPopup') !== 'true'

  function closePopup() {
    visible = false

    try{
      localStorage.setItem('disableSurveyPopup', true)
    }
    catch(err) {}
  }
</script>

{#if visible}
  <div class="popup" data-testid="survey-popup">
    <div class="content">
      <button class="close-button" on:click={closePopup} data-testid="survey-popup-close">
        <i class="fas fa-lg fa-times"></i>
      </button>
      Ciao, per piacere compila <a on:click={closePopup} href="https://forms.gle/b1mtLzV7p3qY7DkCA" target="_blank">questo modulo</a> e dicci cosa ne pensi dell'app! 🔥
    </div>
  </div>
{/if}

<style lang="scss">

  .content {
    overflow-wrap: break-word;
    color: var(--text-color);
  }

  .close-button {
    background-color: transparent;
    color: var(--text-color);
    border: 0px;
  }

  .popup {
    position: fixed;
    z-index: 1000;

    margin: auto;

    bottom: 15px;

    width: 90%;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: var(--background-color);
    border-radius: 10px;

    box-shadow: 0 0 20px rgba(0,0,0,0.25);

  }

  .close-button {
    float: right;
  }

  @media (min-width: 768px) {
    .popup {
      width: 40%;
      right: 15px;
    }
  }
</style>
