<script>
  import Header from "./components/Header.svelte"
  import Content from "./components/Content.svelte"
  import Footer from "./components/Footer.svelte"
  import CourseSelector from "./components/CourseSelector.svelte"
  import SurveyPopup from "./components/SurveyPopup.svelte"
  import Messages from "./components/Messages.svelte"
  import RoundButton from "./components/RoundButton.svelte";

  import { darkColorScheme } from "./styles"
  import { newConfig } from "./utils"

  export let config = newConfig()

  let notificationsEnabled = Notification.permission === 'granted'

  let darkMode = localStorage.getItem('darkMode') === 'true'
  $: colorscheme = darkMode && !config.colorScheme.force ? {...darkColorScheme} : {...config.colorScheme}
  $: localStorage.setItem('darkMode', darkMode)

  function updateNotificationPermissions() {
    Notification.requestPermission().then((result) => {
      if (result === 'granted') notificationsEnabled = true
      else notificationsEnabled = false
    })
  }

  function courseChanged(event){

    config = {...config, selectedCourse: event.detail}

    try {
      localStorage.setItem('selectedCourse', config.selectedCourse)
    }
    catch(err){}
  }

  function toggleDarkMode() {
    darkMode = !darkMode
  }

  function configReceived(event) {
    config = event.detail
  }

  function openAppInNewTab() {
    window.open(location.href, '_blank')
  }

</script>

<main
  style="
    --primary-color: {colorscheme.primaryColor};
    --secondary-color: {colorscheme.secondaryColor};
    --thirdiary-color: {colorscheme.thirdiaryColor};
    --logo-color: {colorscheme.logoColor};
    --muted-color: {colorscheme.mutedColor};
    --muted-alt-color: {colorscheme.mutedAltColor};
    --background-color: {colorscheme.backgroundColor};
    --background-alt-color: {colorscheme.backgroundAltColor};
    --text-color: {colorscheme.textColor};
    --text-alt-color: {colorscheme.textAltColor};
  "
  >

  <Header tiny={config.tinyHeader}>
    <svelte:fragment slot="before-logo">
      {#if config.buttons.darkMode}
      <RoundButton on:click={toggleDarkMode} class="ms-3">
        <i class="fas fa-lg {darkMode ? 'fa-moon' : 'fa-sun'}"/>
      </RoundButton>
      {/if}
      <!-- <AppOption on:click={updateNotificationPermissions}>
        <i class="fas fa-lg {notificationsEnabled ? 'fa-bell' : 'fa-bell-slash'}"/>
      </AppOption> -->
      {#if config.buttons.openInNewTab}
      <RoundButton on:click={openAppInNewTab}>
        <i class="fas fa-lg fa-external-link-alt"/>
      </RoundButton>
      {/if}
    </svelte:fragment>

    <svelte:fragment slot="after-logo">
      {#if config.courseSelection}
        <CourseSelector on:courseChanged={courseChanged} selected={config.selectedCourse}/>
      {/if}
    </svelte:fragment>
  </Header>

  <Content selectedCourse={config.selectedCourse}/>

  <Footer/>

  <Messages on:configReceived={configReceived}/>
  {#if config.popups.surveyPopup}
    <SurveyPopup/>
  {/if}
</main>

<style lang="scss">
  main{
    min-height: 100vh;
    display: grid;
    grid-template-rows: [header-start] auto [header-end] 1fr [footer-start] auto [footer-end];

    background-color: var(--background-color);
    color: var(--text-color)
  }

</style>
